.site-footer__legal-text{
  color: #f4f3f3;
  background-color: #151212;
  font-size: 9.8pt;
  font-weight: normal;

}

.rc-anchor-light .rc-anchor-pt a:link, .rc-anchor-light .rc-anchor-pt a:visited {
  color: #555;
  background-color: white;
}

.rc-anchor-light {
  background: #ffffff !important;
  color: #000;
}
